* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  align-items: center;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  background-color:#000000;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.049);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  cursor: none;
}

a {
  cursor: none;
}

.cursor {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  pointer-events: none;
  animation: cursorAnim 0.1s infinite alternate;
}

.trail {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0.8;
  transition: transform 0.1s ease-out, opacity 0.2s ease-out;
}

.logo {
  display: flex;
  flex-direction: column; /* Aligner les éléments verticalement */
  justify-content: center; /* Centrage vertical */
  align-items: center; /* Centrage horizontal */
  text-align: center;
  width: 100%;
}

.logo img {
  margin-top: 20px;
  width: 100%; /* Responsive width */
  max-width: 300px; /* Maximum size */
}

.logo p {
  font-size: 20px;
  margin-bottom: 100px;
  text-align: center;
}

/* cards */

.cartes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  width: 230px;
  border-radius: 20px;
  background: #000000;
  padding: 5px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
}

.card .top-section {
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, rgb(29, 27, 27) 0%, rgb(206, 206, 206) 100%);
  position: relative;
}

.card .top-section .border {
  border-bottom-right-radius: 10px;
  height: 30px;
  width: 130px;
  background: white;
  background: #5a5b5f;
  position: relative;
  transform: skew(-40deg);
  box-shadow: -10px -10px 0 0 #000000;
}

.card .top-section .border::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  right: -15px;
  background: rgba(255, 255, 255, 0);
  border-top-left-radius: 10px;
  box-shadow: -5px -5px 0 2px #1b233d;
}

.card .top-section::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  background: rgba(233, 233, 233, 0.45);
  height: 15px;
  width: 15px;
  border-top-left-radius: 15px;
  box-shadow: -5px -5px 0 2px #1b233d;
}

.card .top-section .icons {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.card .top-section .icons .logo {
  height: 100%;
  aspect-ratio: 1;
  padding: 7px 0 7px 15px;
}

.card .top-section .icons .logo .top-section {
  height: 100%;
}

.card .top-section .icons .social-media {
  height: 100%;
  padding: 8px 15px;
  display: flex;
  gap: 7px;
}


.card .bottom-section {
  margin-top: 15px;
  padding: 10px 5px;
}

.card .bottom-section .title {
  display: block;
  font-size: 17px;
  font-weight: bolder;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}

.card .bottom-section .row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card .bottom-section .row .item {
  flex: 30%;
  text-align: center;
  padding: 5px;
  color: rgba(0, 0, 0, 0.721);
}

.card .bottom-section .row .item .big-text {
  font-size: 12px;
  display: block;
}

.card .bottom-section .row .item .regular-text {
  font-size: 9px;
}

.card .bottom-section .row .item:nth-child(2) {
  border-left: 1px solid rgba(0, 0, 0, 0.126);
  border-right: 1px solid rgba(6, 6, 6, 0.126);
}